{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <h1>{{ title }}</h1>

    <h3>Тема: {{ theme.title }}</h3>
    <h3>Сообщение: {{ parent.pk }}</h3>

        <form method="post">
            {% csrf_token %}
            {% for f in form %}
                {{ f }}
                <div class="form-error">
                  {% if f.errors %}
                  <ul class="errorlist nonfield">
                    {% for error in f.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                </div>
            {% endfor %}
            <button type="submit">Submit</button>
        </form>

</div>

{% endblock %}
