{%extends 'base.html'%}
{%load static%}

{%block content%}

<div class="container">

    <a href="{% url 'create_theme' %}">
        <button class="btn btn-primary">
            Новая тема
        </button>
    </a>

    {% for theme in themes %}
        <div class="border p-2 m-2">
            <p>
                <a href="{{ theme.get_absolute_url }}">{{ theme.title }}</a>
            </p>
            <p>Автор: {{ theme.author }}</p>
            <p>Сообщений: {{ theme.messages_count }}</p>
            <p>Раздел: {{ theme.section.title }}</p>
            <p>{{ theme.created_at|date:"d.m.Y, H:i" }}</p>
        </div>
    {% endfor %}
</div>

{%endblock%}
