{%extends 'base.html'%}
{%load static%}

{%block content%}

<div class="container">

    <a href="{% url 'create_theme' %}">
        <button class="btn btn-primary">
            Новая тема
        </button>
    </a>

    {% for section in sections %}
        <h3>{{ section.title }}</h3>
        {% for theme in section.theme.all %}
            <div>
                <a href="{{ theme.get_absolute_url }}">{{ theme.title }}</a>
                <p>{{ theme.created_at|date:"d.m.Y, H:i" }}</p>
            </div>
        {% endfor %}
    {% endfor %}
</div>

{%endblock%}
