{%extends 'base.html'%}
{%load static%}

{%block content%}

<div class="container">

    {% include 'forum/includes/query_filter.html' %}

    <a href="{% url 'create_theme' %}">
        <button class="btn btn-primary">
            Новая тема
        </button>
    </a>

    {% include 'forum/includes/ascending_or_descending_filter.html' %}

    {% for theme in themes %}
        <div class="border p-3 my-3">
            <p>
                <a href="{{ theme.get_absolute_url }}">{{ theme.title }}</a>
            </p>
            <p>Автор: {{ theme.author }}</p>
            <p>Сообщений: {{ theme.messages_count }}</p>
            <p>Раздел: {{ theme.section.title }}</p>
            <p>{{ theme.created_at|date:"d.m.Y, H:i" }}</p>
        </div>
    {% endfor %}

</div>

{% include 'forum/includes/pagination.html' %}

{%endblock%}
