{%load static%}
<!-- фильтр -->

<div class="d-flex section-filter-container">
    <div>
        <form method="get">
            <input
                type="hidden"
                name="is_ascending"

                {% if is_ascending %}
                value="{{ is_ascending }}"
                {% endif %}

            />
            {% if is_ascending %}
                <button type="submit" class="border my-border my-btn-search btn-right">
                    <img
                      width="20"
                      src="{% static 'forum/images/descending_filter.png' %}"
                    />
                </button>
            {% else %}
                <button type="submit" class="border my-border my-btn-search btn-right">
                    <img
                      width="20"
                      src="{% static 'forum/images/ascending_filter.png' %}"
                    />
                </button>
            {% endif %}
        </form>
    </div>
</div>
