<!-- пагинация -->
<nav class="list-pages">
    <ul>

      <li class="page-num">

        {% if input_value %}
        <a class="border my-border" href="?query={{input_value}}&page=1">&laquo;</a>
        {% else %}
        <a class="border my-border" href="?page=1">&laquo;</a>
        {% endif %}

      </li>

      {% for p in paginator.page_range %}

      {% if page_obj.number == p %}
      <li class="page-num page-num-selected">{{ p }}</li>
      {% elif p >= page_obj.number|add:-1 and p <= page_obj.number|add:1 %}
      <li class="page-num">

        {% if input_value %}
        <a class="border my-border" href="?query={{input_value}}&page={{ p }}">{{ p }}</a>
        {% else %}
        <a class="border my-border" href="?page={{ p }}">{{ p }}</a>
        {% endif %}

      </li>
      {% elif p == page_obj.number|add:-2 or p == page_obj.number|add:2%}
      <li class="page-num d-none d-md-inline-block d-lg-inline-block">

        {% if input_value %}
        <a class="border my-border" href="?query={{input_value}}&page={{ p }}">{{ p }}</a>
        {% else %}
        <a class="border my-border" href="?page={{ p }}">{{ p }}</a>
        {% endif %}

      </li>
      {% endif %}

      {% endfor %}

      <li class="page-num">

        {% if input_value %}
        <a class="border my-border" href="?query={{input_value}}&page={{ page_obj.paginator.num_pages }}">&raquo;</a>
        {% else %}
        <a class="border my-border" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
        {% endif %}

      </li>

    </ul>
</nav>