APP__ALLOWED_HOSTS = "*"
APP__SECRET_KEY = "django-insecure-2h57a5%a*_j11r890%*_ot292^9_^v#0m3jflekhovj7^of+py"


DB__ENGINE = "django.db.backends.postgresql"
DB__NAME = "db_forum"
DB__USER = "admin"
DB__PASSWORD = "qwerty1234"
DB__HOST = "postgres"
DB__PORT = "5432"


SMTP__EMAIL_HOST = "host"
SMTP__EMAIL_PORT = "port"
SMTP__EMAIL_HOST_USER = "email"
SMTP__EMAIL_HOST_PASSWORD = "password"
SMTP__EMAIL_USE_SSL = "1"


SUPERUSER__USERNAME = "root"
SUPERUSER__PASSWORD = "root"
SUPERUSER__EMAIL = "root@root.com"
SUPERUSER__PHOTO = "users/2025/11/22/me2.png"