APP__ALLOWED_HOSTS = "*"
APP__SECRET_KEY = "secret_key"


DB__ENGINE = "django.db.backends.postgresql"
DB__NAME = "db_forum"
DB__USER = "admin"
DB__PASSWORD = "qwerty1234"
DB__HOST = "127.0.0.1"
DB__PORT = "5432"


SMTP__EMAIL_HOST = "host"
SMTP__EMAIL_PORT = "port"
SMTP__EMAIL_HOST_USER = "email"
SMTP__EMAIL_HOST_PASSWORD = "password"
SMTP__EMAIL_USE_SSL = "1"